@font-face {
  font-family: Roboto;
  src: url(./Font/Roboto-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: Playfair;
  src: url(./Font/PlayfairDisplay-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  color: #222831;
}

body {
  margin: 0;
}

header,
section,
footer {
  margin: 0px;
  padding: 50px;
}

img {
  object-fit: contain;
}

h1,
h2,
.projectHeader {
  font-family: Playfair;
}

.cardText,
.projectContent,
.contactText > div {
  font-family: Roboto;
}

header {
  background-color: #eb5a3c;
}

.aboutContainer {
  margin: 0px;
  display: flex;
  align-items: center;
  min-height: 90vh;
}

.cardContainer,
.aboutPic {
  filter: drop-shadow(0 0 5px black);
}

.cardContainer {
  position: relative;
  padding: 30px;
  min-height: 600px;
  background-color: white;
}

.aboutPic {
  max-height: 90vh;
}

h1 {
  font-size: 80px;
  margin: 0px;
}

.cardText {
  margin-top: 50px;
  font-size: 40px;
}

.cardContainer > .iconContainer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  min-width: 225px;
  bottom: 30px;
  right: 30px;
}

.aboutIcons {
  width: 50px;
}

section {
  position: relative;
  min-height: 90vh;
}

.custom-shape-divider-top-1738915510 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1738915510 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1738915510 .shape-fill {
  fill: #eb5a3c;
}

section > h1 {
  margin-top: 100px;
  margin-bottom: 10px;
}

.projectContainer {
  display: grid;
  min-height: 140vh;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.projectCard {
  filter: drop-shadow(2px 2px 2px grey);
  background-color: white;
  min-height: 500px;
}

.projectScreen {
  object-fit: cover;
  width: 100%;
  height: 65%;
}

.projectText {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.projectHeader {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.projectIcons {
  width: 30px;
}

footer {
  background-color: #eb5a3c;
}

.contactContainer {
  display: flex;
  min-height: 80vh;
  justify-content: space-between;
  align-items: start;
}

.contactText {
  max-width: 40%;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 50px;
}

.contactContent,
.contactAddress,
.contactNumbers {
  font-size: 25px;
  margin-bottom: 50px;
  margin-right: 20px;
}

.contactPhone,
.contactEmail {
  display: flex;
  align-items: center;
}

.smallIcons {
  margin-right: 20px;
  width: 35px;
}

.contactText > .iconContainer {
  display: flex;
  justify-content: space-between;
  max-width: 180px;
}

.contactIcons {
  width: 40px;
}

.contactPic {
  max-width: 60%;
}

.contactPic > img {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .aboutContainer {
    display: block;
  }

  .aboutPic {
    position: relative;
    max-height: 60vh;
    float: left;
    z-index: 1;
    margin-right: 20px;
  }

  .cardContainer {
    min-height: 800px;
  }

  .cardContainer > .iconContainer {
    display: none;
  }

  .projectContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .contactContainer {
    min-height: fit-content;
  }

  .contactText {
    max-width: 60%;
  }

  .contactContent,
  .contactAddress,
  .contactNumbers {
    margin-bottom: 25px;
    margin-right: 20px;
  }

  .contactPic {
    max-width: 40%;
  }
}

@media (max-width: 600px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
  }
  .aboutPic {
    float: none;
    max-height: 90vh;
    max-width: 100%;
  }
  .cardContainer {
    border: none;
    filter: none;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #eb5a3c;
  }

  .cardContainer > h1 {
    display: flex;
    justify-content: center;
    font-size: 65px;
  }

  .cardContainer > .iconContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    position: static;
  }

  .projectContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .contactContainer {
    flex-direction: column;
    justify-content: start;
  }

  .contactText {
    min-width: 100%;
  }

  .contactPic {
    margin-top: 50px;
    min-width: 100%;
  }
}
