@font-face {
  font-family: Roboto;
  src: url(./Font/Roboto-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: Playfair;
  src: url(./Font/PlayfairDisplay-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  color: #222831;
}

body {
  margin: 0;
}

header,
section,
footer {
  padding: 100px;
}

img {
  object-fit: contain;
}

h1,
h2,
.projectHeader {
  font-family: Playfair;
}

.cardText,
.projectContent,
.contactText > div {
  font-family: Roboto;
}

header {
  background-color: #eb5a3c;
}

.aboutContainer {
  margin: 0px;
  display: flex;
  align-items: center;
  min-height: 90vh;
}

.cardContainer,
.aboutPic {
  filter: drop-shadow(0 0 5px black);
}

.cardContainer {
  position: relative;
  padding: 30px;
  min-height: 700px;
  background-color: white;
}

.aboutPic {
  max-height: 90vh;
}

h1 {
  font-size: 80px;
  margin: 0px;
}

.cardText {
  margin-top: 50px;
  font-size: 40px;
}

.cardContainer > .iconContainer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  min-width: 225px;
  bottom: 60px;
  right: 30px;
}

.aboutIcons {
  width: 50px;
}

section {
  position: relative;
  min-height: 90vh;
  padding: 100px;
}
.custom-shape-divider-top-1738915510 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1738915510 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1738915510 .shape-fill {
  fill: #eb5a3c;
}

section > h1 {
  margin-top: 100px;
}

.projectContainer {
  display: grid;
  min-height: 140vh;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.projectCard {
  /* border: solid green 1px; */
  filter: drop-shadow(2px 2px 2px grey);
  background-color: white;
}

.projectScreen {
  object-fit: cover;
  width: 100%;
  height: 65%;
}

.projectText {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.projectHeader {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.projectIcons {
  width: 30px;
}

footer {
  background-color: #eb5a3c;
}

.contactContainer {
  position: relative;
  display: flex;
  min-height: 80vh;
  align-items: start;
}

.contactText {
  max-width: 40%;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 50px;
}

.contactContent,
.contactAddress,
.contactNumbers {
  font-size: 30px;
  margin-bottom: 50px;
}

.contactPhone,
.contactEmail {
  display: flex;
  align-items: center;
}

.smallIcons {
  margin-right: 20px;
  width: 35px;
}

.contactText > .iconContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  min-width: 180px;
}

.contactIcons {
  width: 40px;
}

.contactPic {
  max-width: 60%;
}

@media (max-width: 1200px) {
  .aboutContainer {
    display: block;
  }
  .aboutPic {
    position: relative;
    max-height: 60vh;
    float: left;
    z-index: 1;
  }
  .cardContainer > .iconContainer {
    display: none;
  }
}
@media (max-width: 600px) {
  header {
    background-color: #222831;
  }
}

/* Why does image dissapear when floating. Sent to behind background-color. Needed to make it position relative and z index 1 to bring it forward. */
